* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    /* border: 1px solid black; */
}

li {
    list-style-type: none;
}

.line {
    height: 0;
    width: 100%;

    border: 1px solid black;
}

nav {
    width: 100%;
    margin-top: -100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: rgba(255, 255, 255, 0.8);

    position: fixed;
    z-index: 10;
}

nav .menu {
    height: 50px;
    cursor: pointer;
}

.search_area {
    /* border: 3px solid black; */

    padding: 5px 10px;
    width: 400px;
    height: 60px;
    display: flex;
    justify-content: right;
    align-items: center;
    /* border-radius: 10% 10% 10% 10% / 50% 50% 50% 50%/ */
}

.search_inp {
    width: 250px;
    height: 3em;
    margin: 0 10px;
    padding: 5px 10px;
    border-radius: 10% 10% 10% 10% / 50% 50% 50% 50%;
    border: 3px solid black;
}

.search_btn {
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: 0;
    cursor: pointer;
}

.search_btn img {
    width: 100%;
    height: 100%;
}

.container {
    width: 100%;
    margin-top: 100px;
}

.slide_area {
    width: 60%;
    height: 70vh;
    position: relative;
    margin: 0 auto;

}

.slide_inner {
    /* overflow: hidden; */
    width: 100%;
    height: 100%;
}

.slide {
    width: 100%;
    height: 100%;
    transition: 0.3s;
    display: flex;
}

.slide li {
    margin: 0 auto;
    width: 100%;
    height: 100%;
    flex: 0 0 auto;
}

.slide img {
    display: block;
    height: 70%;
    margin: 0 auto;
}

.slide .inner_text {
    height: 20%;
    font-size: 16px;
    text-align: center;
}

.arrow>img {
    width: 100px;
    height: 100px;
    cursor: pointer;
    transition: 0.3s;
}

.arrow .left {
    position: absolute;
    left: -15%;
    top: 50%;
    transform: translateY(-50%);
}

.arrow .right {
    position: absolute;
    right: -15%;
    top: 50%;
    transform: translateY(-50%) scaleX(-1);
}

.arrow .left:hover {
    transform: translateY(-50%) scale(1.2);
}

.arrow .right:hover {
    transform: translateY(-50%) scale(-1.2, 1.2);
}

#sl-co {
    margin: 1rem 0;
}

.contents {
    height: 300px;
    display: flex;
    justify-content: space-around;
}

.contents>div {
    width: 33%;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
}

.contents_btn {
    cursor: pointer;
    width: 25%;
    height: 35px;
    border: 2px solid black;
    border-bottom: 0;
    border-radius: 5px 5px 0 0;
    background-color: #dddddd;
}

.contents_btn:hover {
    background-color: #ccc;
}

.inner_contents {
    border: 2px solid black;
    height: 365px;
    padding: 10px 15px;
}

.inner_contents>ul>li {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    border-bottom: 1px solid black;
    margin-bottom: 15px;
}

.inner_contents>ul>li:hover>.left_li {
    font-weight: bold;
}

.inner_contents>ul>li>.right_li {
    color: gray;
}

.shortcut>.inner_contents {
    display: flex;
    justify-content: space-around;
    padding: 5px;
}

.shortcut>.inner_contents>div {
    width: 32%;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    border: 1px solid black;
    border-radius: 5px;
}

.shortcut>.inner_contents>div>.upper_contents {
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.shortcut>.inner_contents>div>.upper_contents>img {
    width: 70%;
    object-fit: contain;
}

.shortcut>.inner_contents>div>.lower_contents {
    width: 100%;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 14px;
}

.shortcut>.inner_contents>div:hover {
    border: 2px solid black;
}

.shortcut>.inner_contents>div:hover>.lower_contents {
    font-weight: bold;
}

.github {
    /* display: flex; */
}

.petstagram {
    height: 300px;
}